{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang = "en">  
   <head>  
      <meta charset = "utf-8">  
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      </head>  

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      <h2>
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'App:home_view' %}">Home</a></li>
            <li>Admin Dashboard</li>
          </ol>
        </div>
      </div>      
      </h2>

    </section>
    <!-- End Breadcrumbs -->

<div class="txtBoxQ2">GENERATE QUESTIONS</div>
	<div class="container1">
            <a href="#"class="innrBoxQ">
              <div class="txtBoxQ1">ENTER SUBJECT</div>
              <form>
                <input list="myDatalist" class="myDatalist"> 
                <datalist id="myDatalist"> 
                  <option value="Math">
                  <option value="Filipino">
                  <option value="History">
                  <option value="Science">
                  <option value="English">
                  <option value="Physical Education">
                </datalist>
              </form>
            </a>  

            <a href="#"class="innrBoxQ">
                <h3 class="txtBoxQ1">NUMBER OF QUESTIONS</h3>
                <input type="text" class="num" name="num">
            </a>   

	</div>




{% endblock content %}