{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>HOME/CREATE QUIZ</h2>
        
      </div>

    </div>
  </section>
  
  <div id="textBox">ENTER QUIZ NAME</div>
  <div id="outerBox">
      <a href="#"id="innerBox1">
          <h3>Question</h3>
          <button class="blue">A</button>
          <button class="yellow">B</button>
          <button class="green">C</button>
          <button class="red">D</button>
      </a>
      <div id="innerBox2">
          <h3>Question</h3>
          <button class="green">TRUE</button>
          <button class="red">FALSE</button>
      </div>
  </div>
</div>


<style>

</style>
    {% endblock content %}

   

