{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
		<div class="container">
		<h2>
		  <div class="d-flex justify-content-between align-items-center">
			<ol>
			  <li><a href="{% url 'App:home_view' %}">Home</a></li>
			  <li>Create Quiz</li>
			</ol>
		  </div>
		</div>      
		</h2>
  
	  </section>
	  <!-- End Breadcrumbs -->
  
	<div id="textBoxQ2">ENTER QUIZ NAME</div>
	<div id="outerBoxQ2">
		<a href="#"class="innerBoxQ2" id="multiplechoice">
			<h3 class="createQ">MULTIPLE CHOICE</h3>
		</a>
		<a href="#"class="innerBoxQ2" id="truefalse">
			<h3 class="createQ">TRUE OR FALSE</h3>
		</a>
		<a href="#"class="innerBoxQ2" id="autogen">
			<h3 class="createQ">AUTO GENERATE QUIZ</h3>
		</a>
	</div>


<style> 

</style>
    {% endblock content %}

   

