{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      <h2>
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'App:home_view' %}">Home</a></li>
            <li>Create Quiz</li>
          </ol>
        </div>
      </div>      
      </h2>

    </section>
    <!-- End Breadcrumbs -->
  
  <div id="textBox">ENTER QUIZ NAME</div>
  <div id="outerBox">
      <a href="#"id="innerBox1">
          <h3 class="createQ">Question</h3>
          <button class="blue">A</button>
          <button class="yellow">B</button>
          <button class="green">C</button>
          <button class="red">D</button>
      </a>
      <a href="#" id="innerBox2">
          <h3 class="createQ">Question</h3>
          <button class="green">TRUE</button>
          <button class="red">FALSE</button>
      </a>
  </div>
</div>


<style> 

</style>
    {% endblock content %}

   

