{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>HOME/CREATE CLASS TEACHER</h2>
        
      </div>

    </div>
  </section>
  
  <div id="textBoxcn"> CLASS NAME</div>
  <div id="outerBoxcn">
      <a href="#"id="innerBox1cn">
        <div id ="inputLine">
          <input type="text" class="inputcn" name="inputcn" placeholder="TYPE HERE" > 
          </div>
 
        </a>
      <div id="buttoncn">
        <button class="btncn">UPDATE CLASS</button></button>
        <button class="btncn">DELETE CLASS</button>
        <button class="btncn">CREATE CLASS</button>
      
      </div>
    
  </div>
</div>


<style> 

</style>
    {% endblock content %}

   

