{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>HOME/CREATE QUIZ</h2>
        
      </div>

    </div>
  </section>
  
	<div id="textBoxQ2">ENTER QUIZ NAME</div>
	<div id="outerBoxQ2">
		<a href="#"class="innerBoxQ2" id="multiplechoice">
			<h3>MULTIPLE CHOICE</h3>
		</a>
		<a href="#"class="innerBoxQ2" id="truefalse">
			<h3>TRUE OR FALSE</h3>
		</a>
		<a href="#"class="innerBoxQ2" id="autogen">
			<h3>AUTO GENERATE QUIZ</h3>
		</a>
	</div>


<style> 

</style>
    {% endblock content %}

   

