{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="team" class="team section-bg">
    <div class="container">
        <section id="about-us" class="about-us">
            <div class="container" data-aos="fade-up">
        
              <div class="row content">
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="{% static 'assets/img/custom/etanong.png' %}" width="50%" style="margin-bottom: 10px;"></img>
                  <h3>In hac habitasse platea dictumst. In congue lectus vestibulum feugiat rutrum. Morbi semper convallis aliquam.</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget erat sed odio laoreet pharetra.
                      Aenean posuere non risus sed venenatis. Vestibulum luctus rhoncus leo, quis consectetur felis mollis in.:
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Vivamus laoreet lectus lectus, luctus luctus odio ultricies in.</li>
                    <li><i class="ri-check-double-line"></i> Aliquam ex est, fringilla at lorem et, auctor euismod elit.</li>
                    <li><i class="ri-check-double-line"></i> Maecenas ac neque sed ligula volutpat hendrerit non vitae eros.</li>
                  </ul>
                  <p class="fst-italic">
                      Maecenas dapibus turpis imperdiet libero suscipit, eu tincidunt sapien ornare.
                  </p>
                </div>
              </div>
        
            </div>
        </section>

      <div class="section-title" data-aos="fade-up">
        <hr>
        <br>
        <h2>Features</h2>
      </div>

      <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="{% static 'assets/img/custom/Home (1).png' %}" class="img-fluid" alt="">
            </div>
            <br>
            <div class="member-info">
              <h3>Lorem ipsum dolor</h3>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor nulla ante, eu condimentum dui gravida non. Curabitur tortor ante, convallis sit amet est id, ornare hendrerit neque. </span>
            <br>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/custom/Home (2).png' %}" class="img-fluid" alt="">
          </div>
          <br>
          <div class="member-info">
            <h3>Lorem ipsum dolor</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor nulla ante, eu condimentum dui gravida non. Curabitur tortor ante, convallis sit amet est id, ornare hendrerit neque. </span>
          <br>
          </div>
        </div>
      </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="{% static 'assets/img/custom/Home (3).png' %}" class="img-fluid" alt="">
            </div>
            <br>
            <div class="member-info">
              <h3>Lorem ipsum dolor</h3>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor nulla ante, eu condimentum dui gravida non. Curabitur tortor ante, convallis sit amet est id, ornare hendrerit neque. </span>
            <br>
            </div>
          </div>
        </div>      
        
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/custom/Home (4).png' %}" class="img-fluid" alt="">
        </div>
        <br>
        <div class="member-info">
          <h3>Lorem ipsum dolor</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor nulla ante, eu condimentum dui gravida non. Curabitur tortor ante, convallis sit amet est id, ornare hendrerit neque. </span>
        <br>
        </div>
      </div>
    </div>      

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/custom/Home (5).png' %}" class="img-fluid" alt="">
        </div>
        <br>
        <div class="member-info">
          <h3>Lorem ipsum dolor</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor nulla ante, eu condimentum dui gravida non. Curabitur tortor ante, convallis sit amet est id, ornare hendrerit neque. </span>
        <br>
        </div>
      </div>
    </div>      

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/custom/Home (6).png' %}" class="img-fluid" alt="">
        </div>
        <br>
        <div class="member-info">
          <h3>Lorem ipsum dolor</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor nulla ante, eu condimentum dui gravida non. Curabitur tortor ante, convallis sit amet est id, ornare hendrerit neque. </span>
        <br>
        </div>
      </div>
    </div>      




      </div>

    </div>
  </section>
{% endblock content %}