{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="team" class="team section-bg">
    <div class="container">
        <section id="about-us" class="about-us">
            <div class="container" data-aos="fade-up">
        
              <div class="row content">
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="{% static 'assets/img/custom/etanong.png' %}" width="50%" style="margin-bottom: 10px;"></img>
                  <h3>- An Electronic Learning Subject-Specific Assessment System for Basic Education Level Students</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                  <p>
                    Aims to solve this problem by creating an environment where the student can interact with the teacher in a more fulfilling way, without having to call students individually during a discussion to ask them a question about the topic. e-Tanong emphasizes the following:
                  </p>
                  
                  <ul>
                    <li><i class="ri-check-double-line"></i> Teacher Auto Generate Question</li>
                    <li><i class="ri-check-double-line"></i> Quiz Review</li>
                    <li><i class="ri-check-double-line"></i> Quiz Statistics</li>
                  </ul>
                  <p class="fst-italic">
                      e-Tanong Mo Na! Be Part!.
                  </p>
                </div>
              </div>
        
            </div>
        </section>

      <div class="section-title" data-aos="fade-up">
        <hr>
        <br>
        <h2>Features</h2>
      </div>

      <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="{% static 'assets/img/custom/Home (1).png' %}" class="img-fluid" alt="">
            </div>
            <br>
            <div class="member-info">
              <h3>Quiz Maker</h3>
              <span>Want to create quality, user- friendly quizzes in minutes? e-tanong provides everything you need, including analysis tools that simplify quiz scoring and help you with quiz reviewer. </span>
            <br>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/custom/Home (2).png' %}" class="img-fluid" alt="">
          </div>
          <br>
          <div class="member-info">
            <h3> Quiz Questions</h3>
            <span>With this application, you can choose what type of quizzes you want to put and present to your students.  </span>
          <br>
          </div>
        </div>
      </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="{% static 'assets/img/custom/Home (3).png' %}" class="img-fluid" alt="">
            </div>
            <br>
            <div class="member-info">
              <h3>Dashboard Display</h3>
              <span> Provide e-Tanong users with an intuitive, easy-to-read, easy-to-use tool for monitoring their datas. </span>
            <br>
            </div>
          </div>
        </div>      
        
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/custom/Home (4).png' %}" class="img-fluid" alt="">
        </div>
        <br>
        <div class="member-info">
          <h3>Interactive Participation</h3>
          <span>e-Tanong takes this concept to the online classroom where each student is given a token to represent themselves which is visible to other students. </span>
        <br>
        </div>
      </div>
    </div>      

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/custom/Home (5).png' %}" class="img-fluid" alt="">
        </div>
        <br>
        <div class="member-info">
          <h3>Quiz Statistics</h3>
          <span>Quiz summary showing statistics for all sections including the quiz average score, students who got the highest score sort for ranking, and average time of quiz completion. </span>
        <br>
        </div>
      </div>
    </div>      

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/custom/Home (6).png' %}" class="img-fluid" alt="">
        </div>
        <br>
        <div class="member-info">
          <h3>True/False Question Type</h3>
          <span>A student is given only two choices for an answer in this kind of question: True or False. Students are given a token to represent themselves.  </span>
        <br>
        </div>
      </div>
    </div>      

      </div>

    </div>
  </section>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#88303f" fill-opacity="1" d="M0,96L40,85.3C80,75,160,53,240,58.7C320,64,400,96,480,138.7C560,181,640,235,720,250.7C800,267,880,245,960,224C1040,203,1120,181,1200,170.7C1280,160,1360,160,1400,160L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>


{% endblock content %}