{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Login</h2>
        <ol>
          <li><a href="{% url 'App:home_view' %}">Home</a></li>
          <li>Login</li>
        </ol>
      </div>

    </div>
  </section>
  <!-- End Breadcrumbs -->
<section class="contact">
	<div class="container">
	  <div class="row mt-5 justify-content-center" data-aos="fade-up">
		<div class="col-lg-10">

		  <form method="POST" action="" class="php-email-form">



            <div style="color:black">
			  <h1><span class="d-flex justify-content-center links">Login</span></h1>
			  {% csrf_token %}
			  {% load crispy_forms_tags %}
			  {{ form|crispy }}
			</div>
			  <br>
			  <div class="contact">
			  <input class="btn btn-primary text-light" style="width: 100%;" type="submit" value="Sign Up">
			  </div> 

			  	<div class="d-flex justify-content-center links" style="color: black;"> 
				<br>
				Don't have an account? 
				<a href="" class="ml-2">
					<br>
					&nbsp;&nbsp;Sign Up
				</a>
				</div>

		  </form>
		</div>
	  </div>
	</div>
  </section>

  <!-- NALDO -->


  <section>
	<div class="wave"></div>
  </section>

  <!--<div class="custom-shape-divider-bottom-1664329017">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>-->

{% endblock content %}