{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      <h2>
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'App:home_view' %}">Home</a></li>
            <li><a href="{% url 'App:createQuiz_view' %}">Create Quiz</a></li>
            <li>Review Quiz</li>
          </ol>
        </div>
      </div>      
      </h2>

    </section>
    <!-- End Breadcrumbs -->


    <div class="myDatalist1">Review Page</div>

  <div class="container1">
    <button class="btn btn-warning button2">UPDATE</button>
    <button class="btn btn-warning button3">DELETE</button>
    <button class="btn btn-warning button4">NEW</button>
    <hr class="underline">
    <button class="previousround">&#8249;</button>
    <button class="nextround">&#8250;</button>
  </div>  



    
 



{% endblock content %}