{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>HOME/CREATE QUIZ/QUIZ REVIEW</h2>
        
      </div>
  
    </div>
  </section>

  <form>
    <input list="myDatalist" class="myDatalist1"> 
    <datalist id="myDatalist"> 
      <option value="Quiz 1">
      <option value="Quiz 2">
      <option value="Quiz 3">
      <option value="Quiz 4">
    </datalist>
  </form>
  <div class="container1">
    <a href="#" class="previousround">&#8249;</a>
    <a href="#" class="nextround">&#8250;</a>
  </div>

  <button class="btn btn-warning button2">UPDATE</button>
    <button class="btn btn-warning button3">DELETE</button>
    <button class="btn btn-warning button4">NEW</button>
 



{% endblock content %}