{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>



.searchcontainer {
  position: relative;
  --size-button: 30px;
}

.inputbb {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #f7c007;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #f7c007;
  border-radius: 50px;
  cursor: pointer;
}

.inputbb:focus,
.inputbb:not(:invalid) {
  width: 200px;
  cursor: text;
}

.inputbb:focus + .searchicon,
.inputbb:not(:invalid) + .searchicon {
  pointer-events: all;
  cursor: pointer;
}

.searchcontainer .searchicon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.searchcontainer .searchicon svg {
  width: 100%;
  height: 100%;
}

</style>


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      <h2>
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'App:home_view' %}">Home</a></li>
            <li>Teacher Dashboard</li>
          </ol>
        </div>
      </div>      
      </h2>

    </section>
    <!-- End Breadcrumbs -->





<div class="container">
     <!-- TOP BOXES -->
  <!-- TOP BOX 1 -->
  <div class="card1">
    <div class="blob"></div>
      <span class="img">
        <div id="card1item"> 80% </div>
      </span>
      <h2>AVERAGE SCORE  <br><span>OF STUDENTS</span></h2>
      
    </div>
  <!-- TOP BOX 1 -->


  <!-- TOP BOX 2 with hover -->
  <div class="card2">
    <div class="blob"></div>
      <span class="img">

        <div class="carditem2" >
		    	<p class="card2itemtext">BELLE RABS</p>
        </div>
        <div class="carditem2" >
		    	<p class="card2itemtext">BLAZE ROD BATS</p>
        </div>
        <div class="carditem2" >
		    	<p class="card2itemtext">FATIMA LABS</p>
        </div> 
      </span>
      
      <h2>TOP 3 PERFORMING  <br><span>STUDENTS</span></h2>
      
    </div>
  <!-- TOP BOX 2 with hover -->


  <!-- TOP BOX 2 
    <div id="topdashbox2">
        <p class="titledashbox">TOP 3 PERFORMING STUDENTS</p>

		    <a href="#"class="innertopdashbox2" >
		    	<p class="innernameshape">BELLE RABS</p>
		    </a>
		    <a href="#"class="innertopdashbox2">
		    	<p class="innernameshape">BLAZE ROD BATS</p>
		    </a>
		    <a href="#"class="innertopdashbox2">
		    	<p class="innernameshape">FATIMA LABS</p>
		    </a> 
	</div> 
        TOP BOX 2 -->

  <!-- TOP BOX 3 -->
  <div class="card3">
    <div class="blob"></div>
      <span class="img">
        <div id="card3item"> 10:33 </div>
      </span>
      <h2>AVERAGE TIME  <br><span>TAKEN</span></h2>
      
    </div>
  <!-- TOP BOX 3 -->

    <!-- BOTTOM BOXES -->
    
<!-- SEARCH BAR -->
    <div class="searchcontainer">
      <input placeholder="SEARCH QUIZ" required="" class="inputbb" name="text" type="text">
      <div class="searchicon">
          <svg viewBox="0 0 512 512" class="ionicon" xmlns="http://www.w3.org/2000/svg">
              <title>Search</title>
              <path stroke-width="32" stroke-miterlimit="10" stroke="currentColor" fill="none" d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"></path>
              <path d="M338.29 338.29L448 448" stroke-width="32" stroke-miterlimit="10" stroke-linecap="round" stroke="currentColor" fill="none"></path>
          </svg>
      </div>
  </div>
  <!-- SEARCH BAR -->
    
   <!-- 
    <div id="entertextbb">SEARCH QUIZ</div>
    -->

	<div id="belowboxes">
		    <!-- QUIZ BOX 1 -->
	     <div id="subjectbox1">
            <p class="titledashbox">QUIZ #1</p>
            <p class="innersubjectbox1">MATH</p>
            <p class="innersubjectscore">50 POINTS</p>
	    </div>

    	    <!-- QUIZ BOX 2 -->
	    <div id="subjectbox2">
            <p class="titledashbox">QUIZ #2</p>
            <p class="innersubjectbox2">SCIENCE</p>
            <p class="innersubjectscore">30 POINTS</p>
	    </div>

    	    <!-- QUIZ BOX 3 -->
        <div id="subjectbox3">
            <p class="titledashbox">QUIZ #3</p>
            <p class="innersubjectbox3">HISTORY</p>
            <p class="innersubjectscore">50 POINTS</p>
        </div>

	</div>

</div>


<style> 

</style>

{% endblock content %}