{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>TRUE/FALSE QUIZ</h2>
        
      </div>

    </div>
    
  </section>
  <div id="outerBoxtf">
    <h3 id= "texttf" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet commodo mauris. Vivamus porttitor sapien ac tortor rhoncus placerat. Vivamus sollicitudin nunc hendrerit neque dapibus convallis. Duis lacus turpis, maximus ac sapien ac, porttitor maximus sapien. Pellentesque at vehicula nibh. Duis et augue id enim gravida dapibus semper vitae urna. Aenean porta odio ut augue mattis dapibus. Cras vitae libero convallis, luctus leo cursus, vulputate diam. Curabitur consectetur congue dui at lobortis. Nunc efficitur odio 
    ante, vel tempor leo rutrum id. </h3>
  </div>
  
  <div id="innerBoxtf12">
    <a href="#" id="innerBoxtf1">
      <h3 class="innerboxtffont">True</h3>   
    </a> 
  
    <a href="#" id="innerBoxtf2">
      <h3 class="innerboxtffont">False</h3>
    </a> 
  
  </div>
  
 



<style> 

</style>
    {% endblock content %}

   

