{% extends '0_base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <br>
  <br>
  

  
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up" style="color: #000000;">
          <h2>Our <strong>Team</strong></h2>
        </div>
  
        <div class="row">
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                  <div class="member-img">
                    
                    <img src="{% static 'assets/img/custom/Francos Motion.gif' %}" class="img-fluid" alt="">


              </div>
              <div class="member-info">
                <h4>Francos Batino</h4>
                <span>Backend Developer</span>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/custom/Ronald Motion.gif' %}" class="img-fluid" alt="">


              </div>
              <div class="member-info">
                <h4>Ronald Pocong</h4>
                <span>Frontend Developer</span>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/custom/Junemhel Motion.gif' %}" class="img-fluid" alt="">


              </div>
              <div class="member-info">
                <h4>Junemhel Rabadon</h4>
                <span>Project Manager</span>
              </div>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-8 d-flex align-items-stretch">
          </div>

          <div class="col-lg-4 col-md-8 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/custom/Herah Motion.gif' %}" class="img-fluid" alt="">


              </div>
              <div class="member-info">
                <h4>Herah Fatima Labiaga</h4>
                <span>Documentation Lead</span>
              </div>
            </div>
          </div>  

          <div class="col-lg-4 col-md-8 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/custom/Vir Motion.gif' %}" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Vir Nichael Cabahug</h4>
                <span>Frontend Developr</span>
              </div>
            </div>
          </div>




        </div>
  
      </div>
    </section>


  
  </main><!-- End #main -->
{% endblock content %}