{% extends '0_base.html' %}

{% block content %}
<br><br><br><br>

<div class="container my-4 quiz-list">
  <div class="row justify-content-center">
    <div class="col-md-15">
    
      {% include '4_header.html' with active='new' %}

      <div class="card mb-3">
        <table class="sampleCard">
          <thead>
            <tr>
              <th>Quiz</th>
              <th>Subject</th>
              <th>Length</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for quiz in quizzes %}
              <tr>
                <td class="align-middle">{{ quiz.name }}</td>
                <td class="align-middle">{{ quiz.subject.get_html_badge }}</td>
                <td class="align-middle">{{ quiz.questions_count }} questions</td>
                <td class="text-right">
                  <a href="{% url 'app:take_quiz' quiz.pk %}" class="btn btn-primary">Start quiz</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>









{% endblock %}
