asgiref==3.4.1
certifi==2022.9.24
charset-normalizer==2.1.1
dj-database-url==0.5.0
Django==3.1.14
django-admin-thumbnails==0.2.5
django-ckeditor==6.0.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-model-utils==3.1.1
djangorestframework==3.12.1
docopt==0.6.2
gunicorn==20.1.0
idna==3.4
mysqlclient==2.0.3
Pillow==9.0.1
pipreqs==0.4.11
psycopg2==2.9.5
psycopg2-binary==2.8.6
python-decouple==3.1
pytz==2020.1
pywin32==303
requests==2.28.1
six==1.15.0
sqlparse==0.3.1
traitlets==5.1.1
tzdata==2022.6
urllib3==1.26.12
whitenoise==6.0.0
yarg==0.1.9
